<div>
    <h2>Disclaimer</h2>
    <ul>
        <li><small>Past performance is not an indicator of future performance.</small></li>
        <li><small>This post is illustrative and educational and is not a specific offer of products or services.</small></li>
        <li><small>Information on this blog is not an offer to buy or sell, or a solicitation of any offer to buy or sell the securities mentioned herein.</small></li>
        <li><small>Information presented is believed to be factual and up-to-date, but we do not guarantee its accuracy and it should not be regarded as a complete analysis of the subjects discussed.</small></li>
        <li><small>All expressions of opinion reflect the judgment of the authors as of the date of publication and are subject to change.</small></li>
    </ul>
    <small>Ready to start investing? Signup for the <a href="https://join.robinhood.com/adriant81">Robinhood</a> app using my referral code and get a free stock today.</small>
</div>