<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">

{% include external_sheets.html %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a> <small>{{ site.description }}</small></h1>
      {% endif %}

      {{ content }}

      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        <div class="row">

          <div class="col-sm-1 offset-sm-5">
            <a href="https://instagram.com/elaborate.guy"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </div>

          <div class="col-sm-1">
            <a href="https://twitter.com/porkbutts"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>

          <div class="col-sm-5">
            <p>Copyright &copy; {{ site.time | date: '%Y' }} elaborateguy.com</p>
          </div>

        </div>
      </div>

    </div>


    {% include external_scripts.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.environment == "production" %}
      {% if site.google_analytics %}{% include google_analytics.html %}{% endif %}
      {% if site.google_adsense %}{% include google_adsense.html %}{% endif %}
    {% endif %}
  </body>
</html>

{% if site.tags != "" %}
  {% include collect_tags.html %}
{% endif %}
